
.container{
    max-width: 100vh;
    margin: auto;
    **codigo removido e nao causou nenhuma alteraçao na resposividade ou designer atual, porem comentado para nao esquecermos dele caso no futuro vnhamosa perceber o erro causado pela ausensia do mesmo.
}

.teste{
    background-color: #eaeaea;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.apresentacao{
display: flex;
flex-direction: column;
justify-content:flex-end;
}

.space{
    margin-bottom: 10%;
    border: red 1px solid;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}